Repository BaseAdresseNationale/adresse.data.gouv.fr, pull requests merged in 2019-01, with the labels that each got.

#221 Permet l'affichage d'une BAL non rattachée à une organisation data.gouv.fr
  components/bases-locales/bases-adresse-locales/bal-report.js
  components/bases-locales/bases-adresse-locales/dataset/commune/index.js
Labels: bug

#219 Nouvel accès directe pour l’édition d'une commune en particulier
  components/bases-locales/editor/edit-bal/init-base.js
  lib/bal/api.js
  pages/bases-locales/editeur.js
  server/routes.js
Labels: bal

#222 Nouvelle carte de visualisation des communes
  components/bases-locales/editor/edit-bal/communes/commune-item.js
  components/bases-locales/editor/edit-bal/context/addresses-commune-map.js
  components/bases-locales/editor/edit-bal/context/commune/commune-context.js
  components/bases-locales/editor/edit-bal/context/commune/voie-item.js
  components/bases-locales/editor/edit-bal/context/index.js
  components/bases-locales/editor/edit-bal/context/numero-context.js
  components/bases-locales/editor/edit-bal/context/voie/numero-item.js
  components/bases-locales/editor/edit-bal/context/voie/voie-context.js
  components/bases-locales/editor/edit-bal/index.js
  components/bases-locales/editor/index.js
  components/commune-visualizer/commune-map.js
  components/commune-visualizer/index.js
  components/mapbox/map.js
  lib/bal/item.js
  lib/geojson.js
  package.json
  yarn.lock
Labels: bal, enhancement
