Repository BaseAdresseNationale/adresse.data.gouv.fr, pull requests merged in 2021-02, with the labels that each got.

#772 Permet la publication de fichier CSV
  components/bases-locales/publication/manage-file.js
  components/bases-locales/validator/file-handler.js
  components/bases-locales/validator/index.js
  components/csv/csv.js
  components/csv/holder.js
  lib/bal/api.js
  pages/bases-locales/publication.js
Labels: bal, enhancement

#771 Ajout des témoignages
  components/button.js
  components/infolettre.js
  components/temoignage.js
  components/temoignages.js
  pages/bases-locales/temoignages.js
  pages/index.js
  public/images/testimonies/breux-sur-avre.jpg
  public/images/testimonies/hautes-alpes.jpg
  public/images/testimonies/pays-basque.jpg
  public/images/testimonies/pays-compiegnois.jpg
  public/images/testimonies/planes.jpg
  public/images/testimonies/theize-en-beaujolais.jpg
  temoignages.json
Labels: do-not-merge

#773 Ajout du témoignage de Bréau-Mars
  public/images/testimonies/breau-mars.jpg
  temoignages.json
Labels: bal, testimonies

#777 Correction du processus de publication
  components/bases-locales/publication/manage-file.js
  lib/bal/api.js
  pages/bases-locales/publication.js
Labels: bug
