Repository BaseAdresseNationale/adresse.data.gouv.fr, pull requests merged in 2023-01, with the labels that each got.

#1391 Mise à jour du Guide des bonnes pratiques
  components/doc-download.js
  pages/ressources.js
  public/images/previews/bonnes-pratiques-preview.png
Labels: bal, doc

#1400 Mise à jour des partenaires de la charte
  data/partners/epci.json
  public/images/logos/partners/epci/grand-avignon.png
  public/images/logos/partners/epci/loire-forez-agglo.jpg
  public/images/logos/partners/epci/sieeen.jpg
Labels: bal, partners

#1395 Correction de script de récupération des drapeaux disponible
  README.md
  package.json
  yarn.lock
Labels: dependencies

#1413 Ajout de dates de wébinaires
  events.json
Labels: bal

#1419 Ajout trois partenaires
  data/partners/epci.json
  public/images/logos/partners/epci/lamballe.png
  public/images/logos/partners/epci/montargoise.png
  public/images/logos/partners/epci/siel.png
Labels: bal, partners
